a:hover {
    text-decoration: none;
}

.LogoName {
    color: black;
    text-decoration: none;
}
.LogoName:hover {
    color: black;
    text-decoration: none;
}

#Logo {
    height: 35px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

button:focus {
    
    outline:0 !important;
}
@media (max-width: 990px) { 
    .bubble {
            width: 100vw;
        }    
}
@media (min-width: 991px) {
    a.nav-link {
        display: inline;
        text-decoration: none;
        outline: none;
        justify-items: right;
    }
}
#login {
    margin: 0;
    padding: 0;
}
#collapse {
    position: fixed;
    right: 100px;
}